.profile__edit-button {
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: .3s;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        background-size: 7.5px 7.5px;
    }    
}
