.popup__button {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-bottom: 37px;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
}

.popup__button:hover {
    opacity: .8;
    transition: .3s;
}

@media screen and (max-width: 767px) {
    .popup__button {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 16.94px;
    }
}