.popup__form-item {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    max-height: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 13px;
}

.popup__form-item:last-of-type {
    margin-bottom: 48px;
}

.popup__form-item::placeholder {
    color: #000;
    opacity: 1;
}

.popup__form-item::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}

.popup__form-item:-moz-placeholder {
    color: #000;
    opacity: 1;
}

.popup__form-item::-ms-input-placeholder {
    color: #000;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .popup__form-item:last-of-type {
        margin-bottom: 45px;
    }
}