.popup__toggle {
    position: absolute;
    top: -40px;
    right: -40px;
    text-align: right;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../../../images/form-toggle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: .3s;
}

.popup__toggle:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__toggle {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}