.profile__bio {
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
}

@media screen and (max-width: 1099px) {
    .profile__bio {
        margin-bottom: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__bio {
        font-size: 14px;
        line-height: 16.94px;
    }    
}